body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}