*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
  }

  #root{
    width: 100%;
  }
  
  h1{
    margin: 1rem auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
    width: 100%;
  }

  main img{
    width: 200px;
    height: 200px;
  }
  